.table-torrents {
  tr:last-child {
    td {
      border-bottom: 0;
    }
  }
  .icon-state {
    opacity: 0;
    transform: scale(0);
    animation: iconState .5s forwards ease-in-out;
    path {
      transition: color var(--chakra-transition-duration-normal);
    }
  }
}

.text-underline {
  text-decoration-thickness: 1px !important;
  text-decoration-style: dotted !important;
  text-decoration-line: underline !important;
}

@keyframes iconState {
  50% {
    opacity: 1;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}